<!DOCTYPE html>
<html lang="en">
<head>
	<title>UserManagement</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/table.css">
  <link rel="stylesheet" href="css/flaticon.css">
  <link rel="stylesheet" href="css/icomoon.css">
  <link rel="stylesheet" href="css/style.css">
<!--===============================================================================================-->
</head>
<body>
	<section>
  <nav class="navbar navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container d-flex align-items-stretch">
	    		<div class="col-3 d-flex align-items-center">
			      <a class="navbar-brand" font color="#A569BD">TEAM<span>HAPPY</span></a>
			    </div>
					<div class="col-9 d-flex align-items-center text-right">
		      	<ul class="ftco-social mt-2 mr-3">
		          <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
		          <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
		          <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
		        </ul>

						<button class="navbar-toggler d-flex align-items-center" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
			        <span class="pt-1 mr-1">Menu</span> <span class="oi oi-menu"></span>
			      </button>

			      <button class="navbar-toggler d-flex align-items-center" id="logout-btn" type="button">
			        <span class="pt-1 mr-1">Logout</span>
			      </button>
		      </div>
					<div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item"><button class="nav-link" type="button" id="schedules-btn" class="nav-link">Schedules</a></li>
	          <li class="nav-item"><button class="nav-link" type="button" id="user-btn">User Management</a></li>
	        </ul>
	      </div>

	    </div>
	  </nav>
	</section>

	<section>
		<div style="padding-top:10px;"class="container-table100">
			<div class="wrap-table100">
        <div id="contentArea" class="limiter">
				
			</div>

    </div>
	</div>
</section>

<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../javascripts/users.js"></script>

</body>
</html>
